.create_invoice_btn {
  border: none;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 2px 2px 6px rgba(202, 150, 229, 0.3);
  border-radius: 25px;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
}

.create_invoice_btn span {
  margin-left: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.right_controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_controls .reload_btn {
  border: none;
  background: #ffffff;
  box-shadow: 1px 1px 3px rgba(202, 150, 229, 0.3);
  border-radius: 50%;
  width: 2.81rem;
  height: 2.81rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
