.invoice_item {
  background: #ffffff;
  border: 1px solid rgba(53, 53, 53, 0.05);
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 0.25rem;
}

.th {
  border: 1px solid rgba(53, 53, 53, 0.05);
  padding: 1rem 2rem;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
}
.td {
  border: 1px solid rgba(53, 53, 53, 0.05);
  padding: 1rem 2rem;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
}

.datentime {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
